#arFlag{
    background-image: url(arflag.png);
    width: 375px;
    height: 198px;
    
}
main{
    position: relative;
    min-height: 73vh;
    margin-top: 50px;

}
#historyContainer #btn {
    width: 220px;
height: 40px;
border-radius: 20px;
background-color: rgb(184, 12, 12);
border: 1px solid #393939;
color: white;
font-size: 1rem;
cursor: pointer;

text-align: center;
display: flex;
flex-direction: column;
justify-content: center;

}
#btn a{
    text-decoration: none;
    color: white;
}
#historyContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    
}
h2{
    text-align: center;
}
header {
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(13, 9, 44);
}
header a{
   text-decoration: none;
   color: white;
}
button:focus{
    box-shadow: 0 0 5px rgb(46, 46, 46);
    outline: none;
}
body{
    margin: 0;
    background-color: rgb(235, 221, 195);

}

#governorsContainer{
    display: flex;
    justify-content: center;
    width: 70vw;
    flex-wrap: wrap;
    padding-bottom: 20rem; 
}
#governorsContainer div{
    width: 250px;
    text-align: center;
}
#governorsWrapper{
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
}
#Hutchinson{
    background-image: url(asah.jpeg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:60%;
    width: 130px!important;
    height: 130px;
    margin-right: auto;
    margin-left: auto;

}
#Beebe{
    background-image: url(mikebeebe.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:60%;
    width: 130px!important;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
}
#Huckabee{
    background-image: url(huckabee.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:60%;
    width: 130px!important;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
}
#Tucker{
    background-image: url(jimt.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:60%;
    width: 130px!important;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
}
#Clinton83{
    background-image: url(billc83.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:60%;
    width: 130px!important;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
}
#White{
    background-image: url(fwhite.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:60%;
    width: 130px!important;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
}
#Clinton79{
    background-image: url(billc79.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:60%;
    width: 130px!important;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
}
#Purcell{
    background-image: url(purcell.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:60%;
    width: 130px!important;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width:816px){
hr{
    border: 2px solid rgba(0, 0, 0, 0.548)

}

}
@media only screen and (min-width:816px){
    hr{
        display: none;
    }
}