#arFlag{
    background-image: url(arflag.png);
    width: 375px;
    height: 198px;
    
}
#historyContainer a button{
    width: 220px;
height: 40px;
border-radius: 20px;
background-color: rgb(184, 12, 12);
border: 1px solid #393939;
box-shadow: 6,6,6;
color: white;
font-size: 1rem;
cursor: pointer;
}
#historyContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}
h3{
    text-align: center;
}
header {
    text-align: center;
    margin-bottom: 10px;
    background-color: red;
}
body{
    margin: 0;
    background-color: rgb(235, 221, 195);

}