
#tagLine{
    background-image: url(tagline.png);
    width: 238px;
    height: 230px;
    background-size: fill;
    background-position: center;
}
#homeContent{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#homeContent button{
width: 220px;
height: 40px;
border-radius: 20px;
background-color: rgb(26, 59, 2);
border: 1px solid #393939;
box-shadow: 6,6,6;
color: white;
font-size: 1rem;
cursor: pointer;
}
#homeContent button:focus{
    box-shadow: 0 0 5px rgb(46, 46, 46);
    outline: none;
}
#homeContent button:hover{
    box-shadow: 0 0 3px rgb(5, 36, 6);

}

#homebg{
    background-image: url(homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
main >div {
    display: flex;
    flex-direction: row;
    width: 50vw;
    flex-wrap: wrap;

}
main > div {
    /* display: inline-block; */
} 
main > div >img{
    /* float: left; */
}
main > div > div {
    /* display: inline-block; */
    flex: 1;

    /* float: left; */
}
main > div:nth-child(even){
float: right;
/* background-color: black; */
}
main > div > div  {

}
#galleryBtn button{
width: 88px;
height: 28px;
border-radius: 20px;
background-color: #F60F10;
border: 1px solid #535353;
box-shadow: 6,6,6;
color: white;
font-size: 1rem;
cursor: pointer;
}
@media only screen and (min-width:580px){
    
}
@media only screen and (max-width:580px){
    main  {
        
    
    }
    main >div {
width: 100vw;
display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }
}